<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Insert title here</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/estilos.css}" rel="stylesheet">
<script type="text/javascript" th:src="@{/js/scripts.js}"></script>
</head>
<body>
	<div class="container"
		style="padding-top: 30px; padding-bottom: 30px; padding-left: 100px; padding-right: 100px; border-bottom: 1px solid black;">
		<div class="row">
			<div class="col-12">
				<h1 style='float: left;'>Transportadoras</h1>
			
				<input type="button" class="btn btn-success btn-sm" value="Cadastre sua Transportadora" th:onclick="'location.href=\'' + @{/public/transportadora/new} + '\';'"
					style='float: right;'>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-4">
			<form method="get" th:object="${transportadoraFilter}" th:action="@{/home}" id="formFilter">
				<h3>Transportadoras</h3>
				<span th:text="${transportadoras.size()} + ' ' + resultado + '(' + s + ')'"></span>
				<div>
					<input th:if="${!#strings.isEmpty(transportadoraFilter.cidade)}" th:value="${transportadoraFilter.cidade}" type="button" class="btn btn-primary btn-sm"
					onclick="filtrarCidade(null);"/>
					<input th:if="${!#strings.isEmpty(transportadoraFilter.estado)}" th:value="${transportadoraFilter.estado}" type="button" class="btn btn-primary btn-sm"
					onclick="filtrarEstado(null);"/>
					<input th:if="${!#strings.isEmpty(transportadoraFilter.modal)}" th:value="${transportadoraFilter.modal}" type="button" class="btn btn-primary btn-sm"
					onclick="filtrarModal(null);"/>
					<input th:if="${!#strings.isEmpty(transportadoraFilter.nome)}" th:value="${transportadoraFilter.nome}" type="button" class="btn btn-primary btn-sm"
					onclick="filtrarNome(null);"/>
					
				</div>
				<br />
				<div>
					<label for="nome">Nome</label> 
					<input type="text" id="inputSearchNome" th:field="*{nome}" th:value="*{nome}" onfocusout="enviarFormulario();"/> 
					<br /><br />
					<h5>
						<span>Localizacao (UFs)</span>
						</h3>
						<input id="inputSearchEstado" type="hidden" th:field="*{estado}"/>
						<ul style="list-style-type: none;">
							<li th:each="transportadoraUF : ${transportadorasUF}">
								<a th:dataEstado="${transportadoraUF.nome}" href="#" th:onclick="filtrarEstado(this.getAttribute('dataEstado'));">
									<span th:text="${transportadoraUF.nome} + '(' + ${transportadoraUF.quantidade} + ')'"></span>
								</a>
								<br />
							</li>
						</ul>
						<h5>
							<span>Cidades</span>
							</h3>
							<input id="inputSearchCidade" type="hidden" th:field="*{cidade}"/>
							<ul style="list-style-type: none;">
								<li th:each="transportadoraCidade : ${transportadorasCidades}">
									<a th:dataCidade="${transportadoraCidade.nome}" href="#" th:onclick="filtrarCidade(this.getAttribute('dataCidade'));">
										<span th:text="${transportadoraCidade.nome} + '(' + ${transportadoraCidade.quantidade} + ')'"></span>
									</a>
									<br />
								</li>
							</ul>
							<h5>
								<span>Modal</span>
								</h3>
								<input id="inputSearchModal" type="hidden" th:field="*{modal}"/>
								<ul style="list-style-type: none;">
									<li th:each="transportadoraModal : ${transportadorasModais}">
										<a th:dataModal="${transportadoraModal.nome}" href="#" th:onclick="filtrarModal(this.getAttribute('dataModal'));">
											<span th:text="${transportadoraModal.nome} + '(' + ${transportadoraModal.quantidade} + ')'"></span>
										</a>
										<br />
									</li>
								</ul>
				</div>
			</form>
			</div>
			<div class="col-8">
				<table class="gfg">
					<tbody>
						<tr th:each="transportadora : ${transportadoras}">
								<input type="hidden" name="transportadoraId" th:value="${transportadora.id}"/>
							<th scope="row"><a href="#"> <img
									th:src="@{/images/logotipo/} + ${transportadora.logotipo}" th:alt="${transportadora.nome}" width="50"
									height="50" style="float: left" th:onclick="'location.href=\'' + @{/transportadora/edit} + '?transportadoraId=' + ${transportadora.id} + '\';'"/>
							</a></th>
							<td>
							<a href="#" th:onclick="'location.href=\'' + @{/transportadora/edit} + '?transportadoraId=' + ${transportadora.id} + '\';'"><span th:text="${transportadora.nome}"></span></a>
							<br/>
							<span th:text="${transportadora.empresa}"></span>
							</td>
							<td>
								<span th:text="${transportadora.telefone}"></span> 
								<span th:text="${transportadora.celular}"></span> 
								<br/>
								<span th:text="${transportadora.email}"></span>
							</td>
							<td id="closeborder">
								<span th:text="'Fale Agora: ' + ${transportadora.whatsapp}"></span>
							</td>
						</tr>	
					</tbody>
				</table>
			</div>
		</div>
	</div>

</body>
</html>